<html>
    <body>
        <header>
    <div class="container" style="background-color: teal">
        <a herf="#" routerLink="/header" class="logo" style="background-color: white; color: orange;">Foodies Spot</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/header">Home</a>&nbsp;&nbsp;
                    <a href="#" routerLink="/AboutUS">About Me</a>&nbsp;&nbsp;
                    <a href="#" routerLink="/exploreFoods">Explore</a>&nbsp;&nbsp;
                    <a href="#" routerLink="/login">LogOut</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<app-dashBoard></app-dashBoard>

    </body>
</html>
