
<html>
    <body style="background-color: antiquewhite;">
        <div id="cd" class="about">
            <h1 id="sa">Order Status</h1><br/>
            <h3 style="color: white;padding: 17px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
             Ordered Placed Succesfully...........<br/><br/>
             Seat back and relax order will deliver to your doorStep........
            </h3>
            <span>
                <button class="btn btn-info" (click)="goBack()">Go Back</button>
                <button class="btn btn-info" (click)="logOut()">LogOut</button>
                <img src="https://t3.ftcdn.net/jpg/03/33/90/46/360_F_333904627_tnCepUpc3Uynb6stmEbverr8HeWS2VZl.jpg" id="a">
            </span>
          </div>
          <h1 style="text-align: center; color: teal; font-style: italic; background-color: aliceblue;">ThankYou-------Visit Again </h1>
          <img src=" https://t3.ftcdn.net/jpg/03/33/90/46/360_F_333904627_tnCepUpc3Uynb6stmEbverr8HeWS2VZl.jpg" alt="" height="300px" width="200px">
          <img src="https://images.unsplash.com/photo-1589302168068-964664d93dc0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hpY2tlbiUyMGJpcnlhbml8ZW58MHx8MHx8&w=1000&q=80" alt="" height="300px" width="400px">
          <img src="https://img.freepik.com/premium-photo/mutton-biryani-food-photography_162831-2.jpg" alt="" height="300px" width="400px">
          <img src="  https://c.ndtvimg.com/2022-07/3r3bmreg_biryani_120x90_07_July_22.png" alt="" height="300px" width="400px">
    </body>
</html>
