ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 28rem;
    width: 25rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display:flex;
    flex-direction:column;
    overflow: hidden;
    color: teal;
}
li a:hover{
    opacity: 0.9;
    transform: scale(1.10);

}
a{
    text-decoration: none;
}
.content{
    padding: .5rem 1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: grey;
}

.stars{
    margin-bottom: .2rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origins{
    flex: 9;
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: .8rem;
    color: black;
    margin-right: .3rem;
}

.cook-time{
    font-size: .7rem;
    flex: 3;
    text-align: right;
}

.price{
    color:#414141;
    margin-top: .7rem;
}

.logo img{
    height: 40px;
    width: 100px;
    float: left;
    border-radius: 6px;
}
li a{
    transition: 1500ms;
}
li a:hover{
    transform: skew(1500);
    transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg);
}
