<html>
    <body style="background-color: aquamarine; height: 100vh;width: 100vw;">
        <div *ngIf="food" class="container" style="background-color: aliceblue">
            <img [src]="food.imageUrl" [alt]="food.name" id="a">
            <div class="details">
                <div class="header">
                    <span class="name">
                        {{food.name}}
                    </span>
                    <span class="favorite {{food.favorite?'':'not'}}">
                        <button (click)="BackToHome()" style="background-color: aliceblue;">⬅️</button>&nbsp;
                        <button (click)="Order()" style="background-color: aliceblue;">➡️</button>
                    </span>
                </div>
        
                <div class="origins">
                    <span *ngFor="let origin of food.origins">
                        {{origin}}
                    </span>
                </div>


                <div class="cook-time">
                    <span>
                        Time to cook about <strong>{{food.cookTime}}</strong> minutes
                    </span>
                </div>
        
                <div class="price">
                    <span>{{food.price|currency:'INR'}}</span>
                </div>
        <span>
                <button (click)="goBack()">Go Back</button>
                <button (click)="Order()" style="float: right;">Order Now</button>
               
            </span>
            </div>
        
        </div>
        <img src=" https://t3.ftcdn.net/jpg/03/33/90/46/360_F_333904627_tnCepUpc3Uynb6stmEbverr8HeWS2VZl.jpg" alt="" height="300px" width="200px">
        <img src="https://images.unsplash.com/photo-1589302168068-964664d93dc0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hpY2tlbiUyMGJpcnlhbml8ZW58MHx8MHx8&w=1000&q=80" alt="" height="300px" width="400px">
        <img src="https://img.freepik.com/premium-photo/mutton-biryani-food-photography_162831-2.jpg" alt="" height="300px" width="400px">
        <img src="https://c.ndtvimg.com/2022-07/3r3bmreg_biryani_120x90_07_July_22.png" alt="" height="300px" width="425px">
    </body>
</html>

